/*
 _   _            _ _   _     ____  _  _   
| | | | ___  __ _| | |_| |__ |___ \| || |  
| |_| |/ _ \/ _` | | __| '_ \  __) | || |_ 
|  _  |  __/ (_| | | |_| | | |/ __/|__   _|
|_| |_|\___|\__,_|_|\__|_| |_|_____|  |_| 

UAH Computer Science Department
America's Datafest Global Competition
November 4, 2013 - November 10, 2013

Problem: Access to Health Information
Description: Many migrants are among the nearly 90% of adults have difficulty comprehending health information. This is a particular challenge for migrants. [Build] An app or website that makes health information more accessible. 

Author: 
James Parkes

Team Members: 
Andrey Biglari, Ha Giang, Prabhash Jha, Josh Jones, James Parkes, Jarrod Parkes, and Mini Zeng
*/

/* global */
html, body {height:100%}
h1, h2, h3, h4, h5 {margin:0}
label {font-weight:normal}
header {}
footer {}
.header-container {width:400px;margin:0 auto;padding:0 10px}
.header-img {display:block;margin:30px auto 0}
.navbar-default {background-color:transparent;border-color:transparent}
.navbar-nav {margin-top:40px}
.navbar-nav>li>a {padding-top:10px;padding-bottom:10px}
.btn {font-weight:bold}
.btn:focus, {outline:none!important}
.table>thead>tr>th {border-bottom:0}
.center-btn {display:block;margin:20px auto 0}

/* about page */
.about-row {margin-top:30px;margin-bottom:50px}
.about-row .done {text-decoration:line-through}
.about-row .label {display:inline-block;padding:0.2em 0.6em 0.5em}

/* google translate */
.skiptranslate, .goog-te-gadget {display:none}

/* home page */
.language-form {margin-top:20px;width:100%}
.language-selector {display:block;margin:0 auto;width:90%;text-transform:capitalize}

/* medicine pages */
.medicine-row h5 {font-weight:normal;margin:2em 0;text-align:center}
.medicine-row .search-box div {float:inherit;margin:0 auto}
.medicine-row .table, .medicine-row .table>thead>tr>th {text-align:center}
.medicine-row .well {border-radius:0;background-color:inherit;-webkit-box-shadow:none;box-shadow:none;clear:both}
.medicine-row .well .label {display:inline-block;margin-right:0.4em}
.medicine-row .medicine-description {line-height:18px}
.medicine-row .search-medicine-help {text-align:center;width:50%;margin:5px auto 0}
.medicine-row .search-alpha {margin-bottom:2em}
.medicine-row .search-alpha-button button {width:36px;margin:0.2em 0.1em}
.medicine-row .text-danger, .medicine-row .text-info {margin:1em 0;text-align:left}
.medicine-row .text-danger:hover {color:#b94a48}
.medicine-row .text-info:hover {color:#3a87ad}

/* ocr upload image */
#upload_form {text-align:center}
#upload_form h5 {font-weight:normal;margin-bottom:1em}
#upload_form .alert {display:none}
#upload_form .step2 {display:none}
#upload_form .btn {margin:1em 0}
#upload_form .file-input-textbox {height:25px;width:200px;padding:1em 0.5em}
#upload_form .file-input-div {position:relative;overflow:hidden}
#upload_form .file-input-hidden {font-size:45px;position:absolute;right:0px;top:0px;cursor:pointer;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";-khtml-opacity:0;-moz-opacity:0}
#upload_form .jcrop-holder {display:block;margin:0 auto}
#translate-form .source-language-label {text-align:center;width:100%;margin:10px 0}
#translate-form .language-selector {width:252px}

/* option page */
.option-row .option-link {text-decoration:none}

/* symptom page */
.medicine-row .symptom-image img {max-width:100%;height:auto;margin:0 auto;display:block} 
.medicine-row .caption p {text-align:center}

@media screen and (max-width:1200px) {
	.header-img {margin-top:20px}
	.about-row {margin-top:0}
	.team-members {margin-top:40px}
	.col-lg-6 {width:585px;margin:0 auto}
}

@media screen and (max-width:768px) {
	#search-medicine .input-group, #tfnewsearch .input-group {width:277px}
}

@media screen and (max-width:590px) {
	.col-lg-6 {width:100%}
}

@media screen and (max-width:480px) {
	.media>.pull-left {float:none!important;margin-right:0;border:0}
}